/* -*- mode: css; coding: utf-8 -*- */

html, body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100%;
}

.main {
    background-color: #fff;
}

.main > div {
    margin: 130px 20px;
}

.well {
    border: 1px solid #357ebd;
}

.heading {
    font-size: 1.4em;
    font-weight: bold;
    color: #888;
}

.btn-big {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    border-radius: 20px;
}

.btn-rounded-red {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #555;
    border: 2px solid #c00;
    background-color: white;
}

.btn-rounded-red:hover {
    color: white;
    background-color: #c00;
    font-weight: bold;
}

.shaded {
    box-shadow: 2px 2px 5px #ddd;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.bounce-in-down.ng-enter {
    -webkit-animation: bounceInDown 0.5s;
}

.appear.ng-enter {
    -webkit-animation: fadeIn 0.5s;
}

.clickable {
    cursor: pointer;
}
