
<div ng-controller="ScanCtrl" class="main fullscreen text-center">

  <div ng-if="state == 'first-run'" class="bounce-in-down">
    <div ng-if="new_user" class="heading">All right! I've stored your settings.</div>
    <div class="heading">Now, you need to search your device.</div>

    <button class="btn btn-primary btn-big" style="margin-top: 50px; margin-bottom: 20px"
	    ng-click="discover()">
      Search my band
    </button>
  </div>

  <div ng-if="state == 'discovering'" class="appear">
    <div class="heading" style="position: relative; top: 120px; font-size: 1.7em">
      Scanning...
    </div>
    <div round-progress
  	 max="progress.max"
  	 current="progress.current"
  	 color="#428bca"
  	 bgcolor="#eaeaea"
  	 radius="100"
  	 stroke="8"
  	 semi="false"
  	 iterations="{{ progress.iterations }}"
  	 animation="linearEase">
    </div>
  </div>

  <div ng-if="state == 'not-found'" class="appear">
    <div class="heading">
      MI Band <span style="color: #c00">not found!</span><br>
      Please, make sure your band has enough battery.
    </div>

    <button class="btn btn-primary btn-big" style="margin-top: 50px; margin-bottom: 20px"
	    ng-click="discover()">
      Search again
    </button>
  </div>

  <div ng-if="state == 'found'" class="appear" style="height: 100%">
    <div class="heading">
      I've found something!<br>
      Please, select your MI Band
    </div>
    <br><br>

    <div style="height: 60%; overflow: auto; margin-left: -20px; margin-right: -20px">
      <div ng-repeat="d in devices">
	<button style="width: 250px" class="btn btn-rounded-red"
		ng-click="select_device(d)">
	  {{ d.address }}
	</button><br><br>
      </div>
    </div>
  </div>

  <div ng-if="state == 'pairing'" class="appear">
    <div class="heading">
      Pairing with {{ selected.address }} ...<br>
      Please, tap your band when it vibrates
    </div>
    <br>

    <div class="heading" style="position: relative; top: 120px; font-size: 1.7em">
      Pairing...
    </div>
    <div round-progress
  	 max="progress.max"
  	 current="progress.current"
  	 color="{{ progress.color }}"
  	 bgcolor="{{ progress.bgcolor }}"
  	 radius="100"
  	 stroke="8"
  	 semi="false"
  	 iterations="{{ progress.iterations }}"
  	 animation="linearEase">
    </div>
  </div>

  <div ng-if="state == 'set-uid'" class="bounce-in-down">
    <div class="heading">Oh, I almost forgot it!
      Do you use the Mi Band with other apps?
      Then, please give me your <span class="text-danger">UID<sup>*</sup></span>.</div>
    <br><br><br><br>

    <div style="width: 100%">
      <div class="input-group" style="width: 300px; margin-left: auto; margin-right: auto">
	<input class="form-control" type="text" style="font-size: 1.5em" size="10" autofocus
	       ng-model="uid" />
	<span class="input-group-btn">
          <button class="btn btn-success" type="button"
		  ng-click="set_uid()">
	    <i class="fa fa-lg fa-check"></i>
	  </button>
	</span>
      </div>
    </div>

    <br><br><br>
    <div class="heading small">* This number is usually located on your user profile in the application.</div>
    <div class="heading small">It is formed by 10 numbers or less, like 1583742980.</div>
    <div class="heading small">If you don't use other apps, just ignore this.</div>

    <div class="slide-counter">
      <i ng-repeat="s in steps"
	 class="fa fa-circle"
	 ng-class="{'text-danger': current_step > $index, 'text-dim': current_step <= $index}"
	 style="margin-top: 170px; margin-left: 10px; margin-right: 10px"></i>
    </div>
  </div>

  <div ng-if="state == 'error'" class="appear">
    <div><i class="fa fa-warning" style="font-size: 10em; color: #c00"></i></div>
    <div style="font-size: 2em; font-weight: bold; color: #555">
      Oops. There were some error!
    </div>

    <br>
    <a style="color: #555" class="clickable"
       data-toggle="collapse"
       data-target="#error-details"
       aria-expanded="false"
       aria-controls="error-details">
      See more info.
    </a>
    <div class="collapse" style="padding-top: 10px" id="error-details">
      <b>{{ error.name }}:</b> {{ error.message }}
    </div>

  </div>

</div>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
