
<div ng-controller="StartCtrl" class="main fullscreen text-center">

  <div ng-if="current_step > 1 && state != 'error'" style="position: fixed; top: 150px" class="text-dim clickable">
    <i ng-click="prev_step()" class="fa fa-3x fa-chevron-left"></i>
  </div>

  <div ng-if="state != 'error'" style="position: fixed; top: 150px; right: 0px" class="text-dim clickable">
    <i ng-click="next_step()" class="fa fa-3x fa-chevron-right"></i>
  </div>

  <div ng-if="state == 'step1'" class="bounce-in-down">
    <div class="heading">Hey, welcome! It's the first time?</div>
    <div class="heading">Well, I need <span class="text-danger">some information</span> about you.</div>

    <br>
    <div class="heading">First, are you a <span class="text-primary">boy</span>
      or a <span class="text-danger">girl</span>?
    </div>

    <br><br>
    <button class="btn btn-primary" style="width: 150px; font-weight: bold"
	    ng-click="set_gender(true)">
      <i class="fa fa-fw fa-male" style="padding-right: 20px"></i>boy
    </button>
    <i style="padding-left: 10px"
       ng-class="{'text-dim': !user_info.male, 'text-success': user_info.male}"
       class="fa fa-fw fa-lg fa-check"></i>

    <br><br>
    <button class="btn btn-danger" style="width: 150px; font-weight: bold; margin-right: 3px"
	    ng-click="set_gender(false)">
      <i class="fa fa-fw fa-female" style="padding-right: 20px"></i>girl
    </button>
    <i style="padding-left: 7px"
       ng-class="{'text-dim': user_info.male, 'text-success': !user_info.male}"
       class="fa fa-fw fa-lg fa-check"></i>

    <div class="slide-counter">
      <i ng-repeat="s in steps"
	 class="fa fa-circle"
	 ng-class="{'text-danger': current_step > $index, 'text-dim': current_step <= $index}"
	 style="margin-top: 170px; margin-left: 10px; margin-right: 10px"></i>
    </div>
  </div>

  <div ng-if="state == 'step2'" class="bounce-in-down">
    <div class="heading">Great! And what about your <span class="text-danger">height</span>?</div>

    <br><br>
    <select size="5" style="font-size: 2.5em; width: 100px; border: 0px"
	    ng-click="next_step()"
	    ng-model="user_info.height"
	    ng-options="h for h in byte_values">
    </select>

    <div class="slide-counter">
      <i ng-repeat="s in steps"
	 class="fa fa-circle"
	 ng-class="{'text-danger': current_step > $index, 'text-dim': current_step <= $index}"
	 style="margin-top: 170px; margin-left: 10px; margin-right: 10px"></i>
    </div>
  </div>

  <div ng-if="state == 'step3'" class="bounce-in-down">
    <div class="heading">Well, I need to know your <span class="text-danger">weight</span> too...</div>
    <div class="heading">(Don't worry, I will not tell anyone ;)</div>

    <br><br>
    <select size="5" style="font-size: 2.5em; width: 100px; border: 0px"
	    ng-click="next_step()"
	    ng-model="user_info.weight"
	    ng-options="h for h in byte_values">
    </select>

    <div class="slide-counter">
      <i ng-repeat="s in steps"
	 class="fa fa-circle"
	 ng-class="{'text-danger': current_step > $index, 'text-dim': current_step <= $index}"
	 style="margin-top: 170px; margin-left: 10px; margin-right: 10px"></i>
    </div>
  </div>

  <div ng-if="state == 'step4'" class="bounce-in-down">
    <div class="heading">And the last question... your <span class="text-danger">age</span>?</div>

    <br><br>
    <select size="5" style="font-size: 2.5em; width: 100px; border: 0px"
	    ng-click="next_step()"
	    ng-model="user_info.age"
	    ng-options="h for h in byte_values">
    </select>

    <div class="slide-counter">
      <i ng-repeat="s in steps"
	 class="fa fa-circle"
	 ng-class="{'text-danger': current_step > $index, 'text-dim': current_step <= $index}"
	 style="margin-top: 170px; margin-left: 10px; margin-right: 10px"></i>
    </div>
  </div>

  <div ng-if="state == 'error'" class="appear">
    <div><i class="fa fa-warning" style="font-size: 10em; color: #c00"></i></div>
    <div style="font-size: 2em; font-weight: bold; color: #555">
      Oops. There were some error!
    </div>

    <br>
    <a style="color: #555" class="clickable"
       data-toggle="collapse"
       data-target="#error-details"
       aria-expanded="false"
       aria-controls="error-details">
      See more info.
    </a>
    <div class="collapse" style="padding-top: 10px" id="error-details">
      <b>{{ error.name }}:</b> {{ error.message }}
    </div>

  </div>

</div>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
